<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>io.github.hwestphal.odata.model.jpa.Customer</entity-name>
		<entity-width>120</entity-width>
		<entity-height>166</entity-height>
		<entity-X-Coordinate>760</entity-X-Coordinate>
		<entity-Y-Coordinate>78</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>io.github.hwestphal.odata.model.jpa.Description</entity-name>
		<entity-width>120</entity-width>
		<entity-height>90</entity-height>
		<entity-X-Coordinate>290</entity-X-Coordinate>
		<entity-Y-Coordinate>165</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>io.github.hwestphal.odata.model.jpa.Product</entity-name>
		<entity-width>120</entity-width>
		<entity-height>166</entity-height>
		<entity-X-Coordinate>514</entity-X-Coordinate>
		<entity-Y-Coordinate>116</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>